---
---

@import "minima";

.site-logo {
  width: 48px;
  float: left;
  padding-top: 3px;
}
  
.site-title {
  float: unset;
  padding-left: 10px;
}

.site-nav .page-link {
  color: #1961D9;
  @include relative-font-size(1.15);
}

.trigger-footer .page-link {
  padding-right: 8px; 
}

.site-footer {
  background-color: #1961D9;
  padding: 16px 0;
}

.site-action {

}

.site-social-header {

}

.site-social-footer {

}

.trigger-footer {
  @include relative-font-size(1.2);
  color: #ffffff;
  float: left; 

  a:visited {
    color : #ffffff;
  }

  a {
    color : #ffffff;
  }
}

.wrapper {
  max-width: unset;
}

.social-and-action {
  float: right;

  a:visited {
    color: unset;
  }

  a:hover {
    text-decoration: unset;
  }
}

.post-content {
  h1 {
    @include relative-font-size(2.425);
    letter-spacing: -1px;
    line-height: 1;
  
    @include media-query($on-laptop) {
      @include relative-font-size(2.05);
    }
  }

  h2 {
    @include relative-font-size(1.85);

    @include media-query($on-laptop) {
      @include relative-font-size(1.55);
    }
  }
}