---
---

@import "minima";

.site-logo {
  width: 48px;
  float: left;
  padding-top: 3px;
}
  
.site-title {
  float: unset;
  padding-left: 10px;
}

.site-nav .page-link {
  color: #1961D9;
}

.site-footer {
  background-color: #1961D9;
}

.trigger-footer {
  color: #ffffff;

  a:visited {
    color : #ffffff;
  }
}

.social-and-action {
  a:visited {
    color: unset;
  }

  a:hover {
    text-decoration: unset;
  }
}

.post-content {
  h1 {
    @include relative-font-size(2.625);
    letter-spacing: -1px;
    line-height: 1;
  
    @include media-query($on-laptop) {
      @include relative-font-size(2.25);
    }
  }
}