// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)


.site-logo {
    width: 61px;
    float: left;
  }
  
  .site-title {
    float: unset;
    padding-left: 11px;
  }