<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    
    {%- include header.html -%}

    {%- unless page.title -%}

    <div class="cover" style="background-image: url(&quot;/assets/images/cover-large.png&quot;);
    height: 405px;">
      <h1 style="font-size: 36px; color: white; text-align: center; padding-top: 80px;">
        The universal digital identity protocol.
      </h1>
      <div style="text-align: -webkit-center;">
        <h2 style="font-size: 24px; color: white; padding-top: 45px; max-width: 900px;">
          We are a seed stage non-profit working on building an increasingly ubiquitous digital identity protocol for growing numbers of everyday use cases.
        </h2>
      </div>
      <div style="text-align: -webkit-center; padding-top: 30px;">
        <a href="https://twitter.com/universalidone" style="padding-right: 12px;">
          <img class="cover-action" src="assets/images/action-button-white.png" alt="Message us on Twitter">
        </a>
      </div>
    </div>

    {%- endunless -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
